{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid main" style='margin-top: 0%;'>
        <div class="row">
            <div class="col-sm-6 service-plan-1" id='service-plan-1'>
                <h3 class='text-center service-plan-title'>90-Day Paid Traffic Profit Program</h3>
                <div class="service-plan-description">
                  <p>Our flagship service. Over these 90 days we come in & totally transform your advertising efforts. Within 14 days you’ll have your ads running. In 90% of cases all we need is photos from your end and our in-house copywriting expert starts to construct your campaigns. He works in conjunction with our in-house Facebook ad specialist to make sure that the right message is landing to the right audience set. Daniel works on the strategy and making sure that we load the canon properly in order to have a successful campaign.</p>
                  <p>To date, we have never made less than a 2X ROI over a 90-day slope for our Ecom & Training business clients, something we’re very proud of. If we decide to work with you, it’s only because we genuinely believe it’s going to be a home run. This 90-day program is a fixed 3 month agreement & then from there it’s rolling month by month.</p>
                </div>
            </div>
            <div class="col-sm-6 service-plan-2" id='service-plan-2'>
                <h3 class='text-center service-plan-title'>Webinar Funnel/Sales Funnel Creation</h3>
                <div class="service-plan-description">
                    <p>This is either a done-with-you service or a done-for-you service. Most clients opt for the former. This comprises of a 2-day training where Daniel personally flies out to your offices to work with you & your team to build out either the perfect webinar funnel or sales funnel. Most clients decide on the done-with-you because it’s both quicker and better bang for buck.</p>
                    <p>With Daniel at your offices, not only is he able to create a high converting funnel by having closer proximity to your business & story, but your also able to learn directly what a 7-Figure a year funnel & advertising engine looks like from someone who has successfully done it for both himself and multiple clients. Our other service for our our 2-day training is how to build a mass social media following by nailing your organic, then turbocharging your results with paid advertising.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 service-plan-3" id='service-plan-3'>
                <h3 class='text-center service-plan-title'>60-Day Social Media Deep Dive</h3>
                <div class="service-plan-description">
                    <p>This is either a done-with-you service or a done-for-you service. Most clients opt for the former. This is a complete social media overhaul starting with a deep dive into your target audience. Once we determine your audience segments, we work tirelessly to strategize your social media campaigns on the right channels to the right people. In our years of service with our business partners, we've never had a campaign not meet our goals. </p>
                    <p>We work and strategize across all social media platforms and even forums that you wouldn't even think to look. This 60-day program is a fixed 2 month agreement & then from there it’s rolling month by month.</p>
                </div>
            </div>
            <div class="col-sm-6 service-plan-4" id='service-plan-4'>
                <h3 class='text-center service-plan-title'>Influencer Incubation Program</h3>
                <div class="service-plan-description">
                    <!-- Service 4 description here -->
                    <p>A full service mentoring program to teach you how to take a passion and create influence in your niche.</p>
                    <p>But what is an influencer? If you're heard of Neil Patel, MKBHD, Peter McKinnon, Casey Neistat or the likes of big players like these, this is exactly what an influencer is - an expert in a field that creates a following based on his/her knowledge.</p>
                    <p>And though that may seem daunting, we are with you every step of the way with monthly status calls, step-by-step strategies, a large network of influencers, and 24/7 support to aid in growing YOUR influence. To date, we have never failed to take a passionate enthusiast and turn them into a profitable influencer in their niche.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 service-plan-5" id='service-plan-5'>
                <h3 class='text-center service-plan-title'>Web Development & Analytics Set Up</h3>
                <div class="service-plan-description">
                    <p>A complete and website set up done for you! Whether it's a completely brand new site or one of our many templated sites, we can create and maintain your website and online security with this service.</p>
                    <p>We work with you to get a complete picture of what you want. Then we work to create a timeline for you as well as keep you posted every step of the way so that we can work to create your perfect website. A one time purchase plan with options for month-to-month management.</p>
                </div>
            </div>
            <div class="col-sm-6 service-plan-6" id='service-plan-6'>
              <!-- service plan 6 - coming soon! -->
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{asset('css/serviceplans.css')}}">
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src='{{asset('js/serviceplans.js')}}'></script>
{% endblock %}
