body {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100vh;
}

.main {
  margin-top: 2%;
}

.footer {
  /* height: %; */
  padding: 2%;
  font-size: .8em;
}

.footer ul {
  list-style-type: none;
}
/* Homepage Only*/
.tagline-main {
  text-align: center;
  margin-top: 12%;
}

.home-button {

}

/* Testimonial Only */

.testimonial-images {
    height: 200px;
}
