{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class='text-center'>Our Philosphy</h1>
                <p>One of the biggest objections businesses have with working with agencies is – <i>‘If you know how to do this, why don’t you do it yourself?’</i></p>
                <p>We do.</p>
                <p>
                  Our founder Iman has his very own online training business that consistently brings in over $120k/pm+ profit. IAG Media doesn’t just talk the talk. Iman always puts his own money on the line first within his online training businesses to test new Facebook concepts and take this platform to the edge of it’s capabilities. Maximising profits, scaling aggressively, staying congruent to brand & image.

                  It doesn’t stop there, we understand that there is no point in pouring water into a bucket with an empty hole. That’s why we always start with the sales process. Whether it’s an Ecommerce business or a training company, we take a look at what your sales & indoctrination process looks like and we start there. Plug the leaky holes, then drive highly qualified leads.

                  IAG Media is a byproduct of the ‘old age’ marketing agency offerings. Most agencies are slow, unorganised & use logic rather than field tested concepts.

                  Most agencies will spend 30 days on-boarding you, then charge you a fee!

                  On-Boarding takes 90-minutes with us & there’s no fee so we can get our ads up and running as quick as possible.

                  We’re quick, we’re nibble & we don’t like to waste time.

                  We know a lot of business owners have been stung by agencies before, we empathise.  That said, we also know you’ve never worked with an agency that has the same track record as us.

                  An agency where the Founder leads by example with his very own business.

                  So, we implore you to book in a discovery call with us & see why we’re taking the entire agency space by storm.</p>
            </div>
        </div>
    </div>
{% endblock %}
