{% extends 'base.html.twig' %}

{% block title %}Hey Admin! {{ path }}!{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              {{ form_start(admin_form) }}
              {{ form_widget(admin_form) }}
              {{ form_end(admin_form) }}
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
{% endblock %}
