{% extends 'base.html.twig' %}

{% block title %}Satisfied Customers{% endblock %}

{% block body %}
    <div class="container">
        <div class="row main">
            <div class="col-sm-6">
                <div class='text-center'>
                    <h3>Adventure Zeal <i style='font-size: .5em;'>https://adventurezeal.com</i></h3>
                    <p><strong>Outdoor Gear E-Commerce Company</strong></p>
                </div>
            </div>
            <div class="col-sm-6">
                <blockquote cite="http://adventurezeal.com">
                  "We launched back in June of 2018 and struggled immensely on our site within the first 3 months. With little money in the bank to keep it going, we found Pax Media's 90-Day Paid Traffic Profit Program and decided to try it. Within one month of running ads with them, we increased our sales by 600% and our email list by over 200%! We're currently profitable again and scaling! Thanks again, Daniel!"
                </blockquote>
                <p><i>Christian - Co Owner of AdventureZeal.com</i></p>
            </div>
        </div>
        <div class="row main">
            <div class="col-sm-6">
                <div class='text-center'>
                    <h3>John Ragbir Fitness <i style='font-size: .5em;'>https://johnragbitfitness.com</i></h3>
                    <p><strong>Fitness Influencer</strong></p>
                </div>
            </div>
            <div class="col-sm-6">
                <blockquote cite="http://johnragbitfitness.com">
                </blockquote>
                <p><i>John Ragbir - Owner & Influencer of JohnRagbirFitness.com</i></p>
            </div>
        </div>
    </div>
{% endblock %}
